.DateTime {
    margin-top: 5px;
  }
  
  
.DateTime #formatted-date{
    margin-bottom: 5px;
    text-align: right;
    font-size: 25px;
}

.DateTime #formatted-time{
    font-size: 15px;
    text-align: right;
}

  
