.FeatureIcon .feat-icon-card {
    background: none;
    block-size: auto;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
    top: -110px;
    width: fit-content;
    background: #ace0f9;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .FeatureIcon .feat-icon {
    display: block;
    margin: 0 auto;
    width: 180px;
  }