.Footer .gitHub-link, .netlify-link, .portfolio-link{
    color: rgb(25, 138, 187);
  }
  
.Footer #footer {
  display: block;
  font-size: 15px;
  height: 20px;
  position: relative;
  margin-top: 20px;
  text-align: center;
}

