.Footer .gitHub-link, .netlify-link {
    color: rgb(25, 138, 187);
  }
  
.Footer #footer {
    display: block;
    font-size: 15px;
    height: 20px;
    position: relative;
    text-align: center;
  }
  