.App {
  font-family: "Gluten", cursive;
  max-width: 700px;
  margin: 30px auto;
}


.App h2,
.App h5 {
  display: block;
  margin-left: 0 auto;
  padding: none;
  text-align: left;
}

.App h1 {
  font-size: 60px;
  line-height: 70px;
 
}

.App h2 {
  font-size: 50px;
 
}

.App .main-container {
  max-width: 800px;
}
.App .main-card {
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  padding: 6px;
  top: 20px;
}

.App .card-body {
  padding: 15px 10px 0px 10px;
}
.App .main-card-body {
  max-height: 400px;
}

.App .sub-weather {
  font-size: 20px;
}

.high {
  font-weight: 600;
}

.App .no-wrap {
  white-space: pre-wrap;
  overflow-wrap: normal;
}

.App .day-time {
  background: rgb(245, 204, 71);
  color: rgb(33, 37, 41);
  transition-duration: 2s;
}



