.WeatherData {
  margin-top: -50px;
}

.WeatherData .vr{
  width: 3px;
}
.WeatherData #current-description {
    font-size: 25px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    top: -15px;
  }

