.WeatherData {
  margin-top: -50px;
}
.WeatherData #current-description {
    font-size: 25px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    top: -15px;
  }

 .WeatherData h2{
  color: rgb(54, 53, 53);

 }